fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic
pytest
pytest-asyncio
httpx
cryptography
email-validator
paddleocr>=3.7.0
paddlepaddle>=3.3.1
rapidfuzz>=3.14.5
